# VCS
.git/
.gitignore

# IDE
.vscode/
.idea/
+.iml

# CI
.github/

# Dependencies / logs
node_modules/

# Tests / tooling (not needed at runtime)
test/
.prettierignore
gulpfile.mjs
package-lock.json
prettier.config.js
